<%- include('./partition/header.ejs') -%>
    <form action="/mail" method="post">
        Full Name <input type="text" name="fname" required /> <br />
        Email <input type="email" name="email" required /><br />
        suggestion <input type="text" name="suggestion" required /><br />
        <input type="submit" name="submit" />
    </form>


    <%- include('./partition/footer.ejs') -%>