<%- include("partition/header.ejs") -%>
    <%if(title!=""){%>
        <div class="heading">
            Welcome to <%= title %>
        </div>
        <%}else{%>
            <div class="heading">

                <%= name %>
            </div>
            <%}%>
                <hr>

                <%- include("partition/footer.ejs") -%>